.banner-area {
  background-image: url(https://i.ibb.co/s2BQYkK/photo-1505705694340-019e1e335916-ixlib-rb-1-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
}
.text-area {
  padding-top: 300px;
  color: white;
}
.text-area h1 {
  font-size: 48px;
}
